*{
    margin: 0;
    padding: 0;
}

body,
html{
    font-family: sans-serif;
}

.App{
    height: 100vh;
    background-color: #569DAA;
    display: flex;
    align-items: center;
    justify-content: center;
}

#drum-machine{
    height: 350px;
    width: 600px;
    background-color: #BFCCB5;
    border: solid 5px #EDC6B1;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#pads-container{
    width: 50%;
    height: 300px;
    border: solid 1px red;
}

#display{
    width: 40%;
    height: 300px;
    border: solid 1px red;
}